{% extends "base.html" %}
{% block head %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/club.css' %}">
{% endblock head %}

{% block content %}

<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col">
            <h3 style="margin-top: 40px;">Клуб ежедневной медитации</h3>
        </div>
    </div>
</div>

<div class="container">
    <div id="row1" class="row justify-content-center align-items-center">
        <div id="text1" class="col-lg-6 col-xs-12">
            <p style="margin-top: 40px">
                Жизнь прекрасна, когда женщина излучает бесконечный поток энергии. Мы ощущаем себя великолепно,
                исполнены силой и идеями,
                и <strong>всё вокруг начинает магическим образом притягиваться к нам: люди, события,
                информация.</strong>

                <strong>Но что делать, если энергии не хватает?
                    Куда она постоянно расходуется?</strong>
            </p>
            <a href="https://t.me/dommeditacii_clubBot">
                <button id="bt1" type="button" style="height: 60px; margin-top: 20px; background: #25801D;"
                        class="btn btn-success rounded" href="https://t.me/dommeditacii_clubBot">Присоединиться к клубу
                </button>
            </a>
        </div>
        <div id="img1" class="col-lg-6 col-sm-12">
            <img class="mx-auto d-block" src="{% static 'images/hand_flower.png' %}">
        </div>
        <div class="col-12" style="margin-top: 90px;">
            <h2 style="font-family: 'Forum', sans-serif; text-align: center; color: #1A7132; text-transform: uppercase">
                Часто мы теряем энергию,
                когда:</h2>
        </div>
    </div>
    <div class="row px-5 justify-content-center" style="margin-top: 40px;">
        <div class="col-8 align-top">
            <div class="row justify-content-center">
                <div class="col-3">
                    <img class="mx-auto d-block" src="{% static 'images/lost_energy/en_1.png' %}">
                    <p style="text-align: center">Обманываем себя</p>
                </div>
                <div class="col-3">
                    <img class="mx-auto d-block" src="{% static 'images/lost_energy/en_2.png' %}">
                    <p style="text-align: center">Забываем о необходимости отдыха</p>
                </div>
                <div class="col-3">
                    <img class="mx-auto d-block" src="{% static 'images/lost_energy/en_3.png' %}">
                    <p style="text-align: center">Терпим неприятные ситуации</p>
                </div>
                <div class="col-3">
                    <img class="mx-auto d-block" src="{% static 'images/lost_energy/en_4.png' %}">
                    <p style="text-align: center">Ощущаем обиду</p>
                </div>
                <div class="col-3">
                    <img class="mx-auto d-block" src="{% static 'images/lost_energy/en_5.png' %}">
                    <p style="text-align: center">Занимаемся делами, не приносящими радость</p>
                </div>
                <div class="col-3">
                    <img class="mx-auto d-block" src="{% static 'images/lost_energy/en_6.png' %}">
                    <p style="text-align: center">Ждем, что жизнь изменится волшебным образом</p>
                </div>
                <div class="col-3">
                    <img class="mx-auto d-block" src="{% static 'images/lost_energy/en_7.png' %}">
                    <p style="text-align: center">Слишком сурово судим и обвиняем себя</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-12" style="margin-top: 90px;">
            <h2 style="font-family: 'Forum', sans-serif; text-align: center; color: #1A7132; text-transform: uppercase">
                И как же сохранить
                энергию?</h2>
        </div>
    </div>
    <div style="margin-top: 50px;" class="row justify-content-center align-items-center">
        <div class="col-5">
            <p style="font-size: 20px;">
                <strong style="color: #1A7132; font-size: 50px; font-weight: normal">М</strong>едитация обладает
                удивительной силой влиять на наше состояние и наполнение энергией. Всего лишь за 20
                минут практики можно кардинально изменить свое внутреннее состояние.
            </p>
            <p style="font-size: 20px;">
                В мой клуб "Дом медитаций", где мы ежедневно заботимся о своем ресурсном состоянии через женские
                практики, двери открыты для вас в любое время суток.
            </p>
        </div>
        <div class="col-5">
            <img src="{% static 'images/natali_club.png' %}" alt="">
        </div>
    </div>
    <div style="margin-top: 100px;" class="row justify-content-center align-items-center">
        <div class="col-1">
            <img src="{% static 'images/line.svg' %}" alt="">
        </div>
        <div class="col-7">
            <p style="text-align: center;">
                Я приглашаю вас погрузиться в мир моих медитаций. В этом уникальном сообществе каждая найдёт своё для
                начала изменений. <strong>Это уникальная возможность сделать свою жизнь счастливее и радостнее!</strong>
            </p>
        </div>
        <div class="col-1">
            <img src="{% static 'images/line.svg' %}" alt="">
        </div>
    </div>
    <div class="row justify-content-center align-items-center" id="club1"
         style="margin-top: 100px; height: 480px; background-image: url('{% static "images/bg_club.svg" %}'); background-repeat: no-repeat; background-position: top;" class="row justify-content-center
    align-items-center">
    <div class="col-5">
        <div class="rounded" style="box-shadow: 10px 5px 20px rgba(0,0,0,0.16); padding: 40px; background-color: white">
            <p style="color: black; font-size: 18px">
                В сокровищнице моего клуба представлено более <strong
                    style="color: #1F7642; font-size: 32px; font-weight: normal">270</strong> медитаций, разработанных
                для полного оздоровления всех аспектов вашей жизни. Эти практики направлены на улучшение физического и
                психологического состояния, помогают глубже понять себя и окружающий мир.
            </p>
        </div>
    </div>
    <div class="col-5">
        <div class="rounded"
             style="box-shadow: 10px 5px 20px rgba(0,0,0,0.16); padding: 40px; height: 310px; align-content: center; align-items: center; background-color: #CCE2D2;">
            <p style="color: black; font-size: 18px">
                Также дважды в неделю вас ждут подкасты, расширяющие ваше сознание, терапевтические эфиры и подборка
                глубоких фильмов. Эти инициативы помогут вам расти духовно и личностно.
            </p>
        </div>
    </div>
</div>
<div style="text-align: center; margin-top: 50px" class="row justify-content-center align-items-center">
    <div class="col">
        <a href="https://t.me/dommeditacii_clubBot">
            <button type="button" style="padding: 30px; margin-top: 20px; background: #25801D;"
                    class="btn btn-success rounded" href="https://t.me/dommeditacii_clubBot">Присоединиться к клубу
            </button>
        </a>
    </div>
</div>
</div>


<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col">
            <h1 class="title" style="margin-top: 80px; font-family: 'Forum'; color: #1A7132;">КАК МЕДИТАЦИЯ МЕНЯЕТ
                ЖИЗНЬ</h1>
            <p class="description" style="text-align: center;">Отзывы участниц клуба</p>
        </div>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-4 col-sm-12">
            <div id="carouselExampleFade" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/reviews/otz1.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/reviews/otz2.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/reviews/otz3.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/reviews/otz4.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/reviews/otz5.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/reviews/otz6.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/reviews/otz7.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/reviews/otz8.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/reviews/otz9.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/reviews/otz10f.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <h1 class="title"
            style="font-family: 'Forum', sans-serif; text-align: center; color: #1A7132; margin-top: 80px; text-transform: uppercase">
            РАСПИСАНИЕ ЭФИРОВ</h1>
        <div class="col-lg-6 col-sm-12">

            <!--Таблица-->
            <table class="table table-bordered" style="margin-top: 40px;">
                <thead class="table-dark">
                <tr>
                    <th style="width: 200px" scope="col">Дата</th>
                    <th scope="col" style="width: 100px">Время</th>
                    <th scope="col">Название эфира</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for schedule in schedule %}
                    <td>{{ schedule.date }}</td>
                    <td>{{ schedule.time }}</td>
                    <td>{{ schedule.name }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


{% endblock content %}

