{% extends "base.html" %}
{% block head %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/club.css' %}">
{% endblock head %}

{% block content %}

<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col">
            <h2 style="margin-top: 20px;">Клуб ежедневной медитации</h2>
            <h1 class="title" style="margin-top: 80px">ЧТО ВЫ ПОЛУЧАЕТЕ, ВСТУПИВ В КЛУБ</h1>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 40px">
    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="{% static 'images/club-1.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Библиотека медитаций</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="{% static 'images/club-2.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Вдохновляющие подкасты</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col">
                    <div class="card">
                        <img src="{% static 'images/club-4.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Общение и поддержка</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="{% static 'images/club-3.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Рекомендации фильмов</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-1"></div>

        <div class="col-6">
            <img class="img-fluid" src="{% static 'images/nat-2.png' %}">
        </div>
    </div>

    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col">
                <div class="row">
                    <div class="col-3">
                        <p style="font-weight: 600;">Прослушайте фрагмент одной из медитаций клуба</p>
                    </div>
                </div>
                <audio controls="controls">
                    <source src="track.ogg" type="audio/ogg"/>
                    <source src="track.mp3" type="audio/mpeg"/>
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col">
                <h1 class="title" style="margin-top: 80px">КАК МЕДИТАЦИЯ МЕНЯЕТ ЖИЗНЬ</h1>
                <p class="description" style="text-align: center;">Отзывы участниц клуба</p>
            </div>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-4">
                <img src="{% static 'images/club-1.jpg' %}">
            </div>
            <div class="col-4">
                <img src="{% static 'images/club-1.jpg' %}">
            </div>
            <div class="col-4">
                <img src="{% static 'images/club-1.jpg' %}">
            </div>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col">
                <h1 class="title" style="margin-top: 80px">РАСПИСАНИЕ</h1>

                <!--Таблица-->

                <table class="table table-bordered" style="margin-top: 40px;">
  <thead class="table-dark">
    <tr>
      <th scope="col">Дата эфира</th>
      <th scope="col">Время проведения</th>
      <th scope="col">Название</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1 августа, четверг</td>
      <td>17:00</td>
      <td>......</td>
    </tr>
    <tr>
      <td>1 августа, четверг</td>
      <td>17:00</td>
      <td>......</td>
    </tr>
  </tbody>
</table>

    </div>
    </div>
    </div>


    {% endblock content %}

