{% extends "base.html" %}
{% block head %}
{% load static %}

{% endblock head %}


{% block content %}
<div class="container" style="margin-top: 60px; margin-bottom: 60px;">
    <div class="row">
        <div class="col">
            <h1>{{ post.title }}</h1>
            <p class="date" style="color: #939393">
                Опубликовано {{ post.publish }}
            </p>
            <p style="white-space:pre-line">
                {{ post.body1|safe }}
            </p>

            <div class="col">
                <img class="rounded" width="600px" src="{{  post.img_article.url }}" alt="">
            </div>

            <p style="white-space:pre-line">
                {{ post.body2|safe }}
            </p>

        </div>

    </div>
</div>


{% endblock %}