{% extends "base.html" %}
{% block head %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'js/index.js' %}">
{% endblock head %}


{% block content %}

<!--Main info-->

<div class="container" id="firstblock">
    <div class="row h-100 justify-content-center align-items-center">
        <div id="info" class="col">
            <h1>Откройте двери Дома Медитаций</h1>
            <p>
                Вы попали на сайт самопомощи, где можете найти абсолютно любые медитативные практики,
                которые исцелят ваше тело и Душу, помогут вашему духовному и личностному росту для
                вашей более качественной и счастливой жизни. <strong>ЧТОБЫ ВСЁ В ЖИЗНИ СТАЛО ХОРОШО - НУЖНО ЭФФЕКТИВНО
                РАССЛАБИТЬСЯ.</strong>
            </p>
            <button type="button" id="button" class="btn btn-primary">Присоединиться</button>
        </div>
        <div class="col">
            <img class="img2" src="{% static 'images/nat_1.png' %}" width="600px">
        </div>
    </div>
</div>


<div style="background-color: #F0F0F0">
    <div class="container">
        <div class="row h-100">
            <h2 style="font-weight: 600; margin-top: 50px">Найдите то, что подходит Вам</h2>
        </div>
        <div style="margin-top: 30px;" class="row h-100">
            <div class="col-sm-6 col-lg-3" style="margin-bottom: 60px;">
                <div class="card">
                    <img src="{% static 'images/med_1.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center; font-weight: 600; ">Клуб ежедневной
                            медитации</h5>
                        <a href="{% url 'club' %}" style="width: 100%; background: #25801D; border: #25801D" class="btn btn-success">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3" style="margin-bottom: 60px;">
                <div class="card" style="height: 100%;">
                    <img src="{% static 'images/med_2.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center; font-weight: 600;">Практикумы</h5>
                        <h5 class="card-title" style="text-align: center; font-weight: 600; "></h5>
                        <a href="{% url 'practicums' %}" style="width: 100%; background: #25801D; border: #25801D; margin-top: 24px"
                           class="btn btn-success">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3" style="margin-bottom: 60px;">
                <div class="card">
                    <img src="{% static 'images/med_3.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center; font-weight: 600; ">Исцеляющие медитации</h5>
                        <a href="{% url 'meditations' %}" style="width: 100%; background: #25801D; border: #25801D" class="btn btn-success">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3" style="margin-bottom: 60px;">
                <div class="card">
                    <img src="{% static 'images/med_4.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center; font-weight: 600; ">Терапевтические эфиры</h5>
                        <a href="{% url 'efiry' %}" style="width: 100%; background: #25801D; border: #25801D" class="btn btn-success">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Questions-->


<div class="container">
    <div class="row h-100">
        <div class="row h-100" style="margin-top: 60px">
            <h2 style="color: black; font-weight: 600">Часто задаваемые вопросы</h2>
        </div>
        <div class="container rounded text-light" id="faq" style="margin-bottom: 60px">
            <div class="accordion" style="margin-top: 40px" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                            Если я никогда раньше не пробовала медитировать, могу ли я научиться?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Именно для этих целей я создала клуб ежедневной медитации, куда может прийти
                            женщина-новичок или
                            опытный практик. В этом прелесть управляемой медитации. Вы просто доверяете мне, как
                            проводнику,
                            и
                            идёте за моим голосом. Ваша задача - довериться, расслабиться, просто ощущать и
                            чувствовать. И
                            всё
                            обязательно получится. Медитация - это навык, который приобретается многократным
                            погружением в
                            определенное состояние.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            Зачем мне, обычному человеку, медитация?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Внутри нас есть неисчерпаемые ресурсы, с которыми мы почти не знакомы. Многие не спешат
                            их
                            использовать:
                            одни из-за лени, другие – не чувствуют в себе силы что-то изменить. А менять можно и
                            нужно, и
                            помогают в этом как раз
                            медитативные практики. Они позволяют не просто познать себя, ощутить свои истинные
                            стремления и
                            реально улучшить качество жизни.
                            Медитация, например, помогает овладеть умением концентрироваться. Это пригодится везде –
                            и в
                            жизни,
                            и в карьере.
                            На работе это позволит повысить производительность ума, чтобы решать задачи быстрее,
                            эффективнее.
                            И тогда на сон останется больше времени. Не случайно, крупные мировые корпорации сейчас
                            все чаще
                            используют медитативные практики
                            в обучении своих сотрудников.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                            Какие плюсы от занятий медитации можно увидеть в реальной жизни?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Медитация способна улучшить все сферы вашей жизни мягко и бережно. Без надрывов и
                            подвигов,
                            занимаясь в свое удовольствие, вы вдруг начнете замечать, что чувствуете себя намного
                            спокойнее
                            в
                            тех же самых стрессовых ситуациях.
                            Работа делается быстрее, появляются новые идеи, вы способны видеть больше деталей и
                            удерживать
                            стратегический курс. Более развитое мышление, способность концентрироваться без
                            напряжения
                            высвобождает массу сил и времени. Повышается осознанность в обычной жизни.

                            Медитация помогает улучшить отношения в семье, ведь вы становитесь более внимательным и
                            чувствительным, ваши близкие наверняка это оценят.
                            Сотрудники Гарвардской Школы Бизнеса, на основании многочисленных исследований, заявили,
                            что
                            самыми
                            эффективными инструментами бизнеса в ближайшие сто лет будут интуиция и медитация.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                            Сколько времени нужно, чтобы начать видеть реальные результаты?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Научные исследования утверждают, что результат можно почувствовать через 6 недель - 6
                            месяцев.
                            Все зависит от самого человека, его индивидуальных особенностей, целей, степени
                            усталости и
                            стресса.
                            Это зависит от гибкости вашей психики, насколько она подвижна и способна к быстрым
                            изменениям.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">
                            Как часто нужно заниматься медитацией? Если прекратить заниматься, сохранятся ли
                            полученные
                            результаты?
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            В занятиях важна регулярность. Для поддержания себя в спокойном и ресурсном состоянии, я
                            рекомендую
                            заниматься
                            5 дней в неделю по 15-20 минут. Один раз в неделю хорошо бы посвятить медитации
                            час-полтора.
                            Если перед вами стоят серьезные задачи или здоровье уже дает сбои, то рекомендуется два
                            часовых
                            занятия
                            и ежедневная практика по полчаса. Если прекратить, то полученный эффект будет
                            забываться.
                            Это как иностранный язык - он теряется без практики, но если начать обучение вновь,
                            процесс
                            пойдет
                            проще.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false"
                                aria-controls="collapseSix">
                            С какого возраста лучше заниматься медитацией?
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            С 21 года медитировать можно всем. Сейчас в группы записываются все более молодые
                            ученики.
                            Если раньше это были, в основном, женщины после 35-40, которые загнали себя в
                            хроническую
                            усталость,
                            депрессию и дошли до изнеможения, то сейчас больше половины – это успешные женщины и
                            мужчины,
                            которые хотят
                            улучшить качество жизни. Люди также приходят в клуб ежедневной медитации, чтобы получить
                            ресурс,
                            дополнительную энергию
                            для более глобальных проектов на работе, творческих прорывов, масштабной самореализации,
                            изменений в
                            жизни.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed"
                                type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false"
                                aria-controls="collapseSeven">
                            Знаете ли вы о научных доказательствах того, что медитация полезна для организма?
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Изучением этого вопроса занимаются многие исследователи. Например, в Институте
                            физиологии СО
                            РАМН
                            исследовали особенности, характерные для глубоких медитативных состояний.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
