{% extends "base.html" %}
{% block head %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/products.css' %}">
{% endblock head %}

{% block content %}

<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col">
            <h3 style="margin-top: 40px;">Товары</h3>

            <!--Карточки товаров-->

            <div class="row" style="margin-top: 40px;">
                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <img src="{% static 'images/cards.png' %}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: 600">Интуитивные гадальные карты «ПОСЛАНИЕ ОТ АНГЕЛА-ХРАНИТЕЛЯ»</h5>
                            <div style="margin-top: 30px">
                            <p class="card-text" style="margin-top: 10px; font-size: 12px; text-align: left; vertical-align: center">- 46 штук в колоде, вкладыш-инструкция по использованию, размер 120мм на 60мм,
                                коробка «крышка-дно» -</p>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <p class="card-text" style="margin-top: 10px; font-size: 16px; text-align: left;">Колода интуитивных гадальных карт для принятия верного решения.
                                Будет служить вам верным помощником в спорных ситуациях, даст ответ на любые вопросы.</p>
                            <p class="card-text" style="margin-top: 10px; margin-bottom: 16px; font-size: 16px; text-align: left;">Карты очень приятно держать в руках,
                                имеют достойный и лаконичный дизайн. Колода запечатана в термоплёнку, имеет законченный и аккуратный вид.
                                Это отличный подарок как для вас, так и для ваших близких, которые увлекаются эзотерикой.</p>
                            </div>
                            <div style="margin-top: 40px">
                            <p> <a style="width: 100%" class="btn btn-outline-dark" data-bs-toggle="collapse" href="#collapseExample" role="button"
                               aria-expanded="false" aria-controls="collapseExample">Подробнее</a> </p>

                            <a href="https://ozon.ru/t/plk3olb" style="width: 100%;" class="btn btn-success">Приобрести</a>
                                </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <img src="{% static 'images/candle.png' %}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: 600">Ароматическая свеча с аффирмацией «ВСЕ МОИ МЕЧТЫ ВСЕГДА СБЫВАЮТСЯ»</h5>
                            <p class="card-text" style="margin-top: 10px; font-size: 12px; text-align: left;">- Легкий, цветочный аромат розы и пиона,
                                более 25 часов в работе. Это полностью ручная работа, свеча заряжена в специальные лунные сутки. -</p>
                            <div class="collapse" id="collapse2">
                                <p class="card-text" style="margin-top: 10px; font-size: 16px; text-align: left;">Колода интуитивных гадальных карт для принятия верного решения.
                                Будет служить вам верным помощником в спорных ситуациях, даст ответ на любые вопросы.</p>
                            <p class="card-text" style="margin-top: 10px; margin-bottom: 16px; font-size: 16px; text-align: left;">Карты очень приятно держать в руках,
                                имеют достойный и лаконичный дизайн. Колода запечатана в термоплёнку, имеет законченный и аккуратный вид.
                                Это отличный подарок как для вас, так и для ваших близких, которые увлекаются эзотерикой.</p>
                            </div>
                            <p> <a style="width: 100%" class="btn btn-outline-dark" data-bs-toggle="collapse" href="#collapse2" role="button"
                               aria-expanded="false" aria-controls="collapse2">Подробнее</a> </p>

                            <a href="https://ozon.ru/t/9KEL4QG" style="width: 100%" class="btn btn-success">Приобрести</a>

                        </div>
                    </div>
                </div>

            </div>
    </div>
    </div>
</div>


{% endblock content %}